
// reset CSS
button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

// html, body, span, applet, object, iframe,
p
// , blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

// article, aside, details, figcaption, figure, 
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }

$background-color: #fafafa;
$border-color: #000;
$silver: rgb(194, 194, 194);
$couleur-texte-blanc: rgba(255, 255, 255, 1);


$neutral-btn: #047bfb;
$danger-btn: #dc3444;
$darken-amount: 10;


@mixin typo-modal {
  font-family: "Roboto";
  font-size: 20px;
  line-height: normal;
}

@mixin btnHover($couleur) {
  transition-property: background-color;
  transition-duration: 200ms;
  cursor: pointer;

  &:hover{
    background-color: darken($couleur, $darken-amount);
  }
}